<div class="container-lg">
<img class="image" src="../../assets/img/popcorn.png" alt=""/>
<mat-card class="login-card float-right">
  <mat-card-header>
    <mat-card-title>Sign in</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="save()">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email">
        <mat-error *ngIf="loginForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <div>Haven't you account? <button mat-raised-button color="accent" class="sign-up">Sign Up</button></div>
    <div class="spacer"></div>
    <button type="submit" mat-raised-button color="primary" mat-button [disabled]="!loginForm.valid">LOG IN</button>
  </mat-card-actions>
</mat-card>
</div>
