<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{hidden: (isHandset$ | async) === false}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">About</a>
      <a mat-list-item href="#">Login</a>
      <a mat-list-item href="#">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="app-title">Your Movies </span>
      <span class="spacer"></span>
      <a mat-button="" href="#" *ngIf="!isLoggedIn"><span class="mat-button-wrapper">About</span></a>
      <a mat-button="" href="#" *ngIf="!isLoggedIn"><span class="mat-button-wrapper">Contact</span></a>
      <a mat-button="" href="#" *ngIf="isLoggedIn"><span class="mat-button-wrapper">Home</span></a>
      <a mat-button="" href="#" *ngIf="isLoggedIn && isAdmin"><span class="mat-button-wrapper">Admin</span></a>
      <a mat-button="" href="#" *ngIf="isLoggedIn" (click)="logout()"><span class="mat-button-wrapper">Logout</span></a>
      <a mat-button="" href="#" *ngIf="!isLoggedIn"><span class="mat-button-wrapper">Login</span></a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
