<ng-container *ngIf="movie!=null; else fetchingModel"
              class="container ">
    <!-- <ng-container *ngIf="movie==null ; else fetchingModel" class="container ">-->

    <div class="row mt-3">
        <img class="col"
             [src]="movie.imagePath">
        <div class="col">
            <div id="title">
                <h2 class="d-inline">{{movie.title}} </h2>
                <h2 class="d-inline average text-right float-right">{{movie.score}}</h2>
            </div>
            <div id="desription"
                 class="mt-4 text-break">
                {{movie.description}}
            </div>
        </div>
    </div>


    <!-- dodanie oceny -->
    <div class="form-group mt-3">
        <label for="rateText">
            <h4>Rate this movie</h4>
        </label>

        <div #hearts
             id="hearts"
             class="float-right">
            <button mat-icon-button
                    color="grey"
                    id="h1"
                    (click)="starClick(1)">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button
                    color="grey"
                    id="h2"
                    (click)="starClick(2)">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button
                    color="grey"
                    id="h3"
                    (click)="starClick(3)">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button
                    color="grey"
                    id="h4"
                    (click)="starClick(4)">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button
                    color="grey"
                    id="h5"
                    (click)="starClick(5)">
                <mat-icon>favorite</mat-icon>
            </button>
        </div>

        <textarea class="form-control bg-dark text-white border-0"
                  name="rateText"
                  id="rateText"
                  [(ngModel)]="userRate.comment"
                  rows="3"></textarea>
        <button mat-flat-button
                class="float-right mt-3"
                color="primary"
                (click)="sendRate()">Send</button>
    </div>

    <!-- lista ocen -->
    <div *ngIf="rates!=null; else fetchingRates"
         class="mt-5">
        <div *ngIf="rates.length<=0; else showRates">
            Not rated yet
        </div>
        <div #showRates
             class="row mt-6"
             *ngFor="let rate of rates">
            <app-rate class="rate" [rate]="rate"></app-rate>
        </div>
    </div>

    <ng-template #fetchingRates>
        <mat-spinner class="rates-loader"></mat-spinner>
    </ng-template>
</ng-container>
<ng-template #fetchingModel>
    <mat-spinner class="model-loader"></mat-spinner>
</ng-template>