<mat-card class="example-card" tabindex="0">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ movie.title }}</mat-card-title>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  </mat-card-header>
  <img mat-card-image [src]="movie.photo" alt="Photo of movie">
  <mat-card-actions>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of movie.tags" color="primary"> {{ tag }} </mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
